<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tathva</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link
href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
rel="stylesheet"
/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/joel.css" />
    
    <link rel="shortcut icon" href="/Images/logo.ico" />
    <style>
    
* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

::-moz-selection {
  background: #C6FF91;
  text-shadow: none;
}

::selection {
  background: #C6FF91;
  text-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
body {

      align-items: center;
      justify-content: center;
}

.wrapper {
	margin: 0	;
	/* margin: 60px auto 0 auto;  */
}

/* Note styles */
.note-wrap {
	border-radius: 15px;
	min-width: 250px;
	/* min-height: 235px; */
	padding: 35px; 
	padding-bottom:0px
	margin: 0 22px 44px 22px;
	position: absolute;
	font-size: 24px;
	vertical-align: top;
  display: inline-block;
	font-family: Englebert, Arial;
	color:#4b453c;
	background: #F7E999;
	line-height: 34px; 
	text-align: center;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	/* pointer-events: none; */
	transition: transform 1s ease-in-out;
}
.note-wrap :before  {
      display: block;
      content: ""; 
      background: rgba(227, 200, 114, 0.40);
      width: 130px;
      height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
      position: absolute;
      top: -13px;
      left: 50px;
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
}
.note-wrap  a {
      color:#D83A25;
      text-decoration: none;
      font-size: 20px; 
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease;
     pointer-events: none;
}

.note-yellow {
	background: #F7E999;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}
.college-mob{
      color: black;
      font-size: 18px;
}
.note-blue {
	background: #b9dcf4;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.note-pink {
	background: #ffb19e;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}
.note-green {
	background: #CAF4B9;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

    </style>
     <link rel="stylesheet" href="/css/amal2.css" />
  </head>
  <body id="home">
    
    <nav class="navbar-complete fixednavbar">
            <div class="brand-title">
              <a href="/" style="text-decoration:blink;"><h1>Tathva</h1></a>
            </div>
            <div class="navbar-links">
              <ul>
                <li><button onclick="openAbout()">About</button></li> 
                <li><a href="/auth/google">Login</a></li>
              </ul>
            </div>
          </nav>

          <div class="collage_container"></div>

          <session id="about">
         <div class="container form-popup" id="myAbout" style="margin-top: -650px;">
    <div class="aboutclass-heading">
      <h1>About US</h1>
      <div class="aboutclass-content">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
          Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-
          Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
          passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
          Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good
          and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
          the
          Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in </p>
      </div>
      <button onclick="closeAbout()"><label for="show" class="close-btn fas fa-times" style="font-size: 30px;" title="close"></label></button>
    </div>
  </div>
</session>
<!--
        <footer>
          <section class="footer-main" id="footer">
            <div class="footer1 text-center">
                <div class="container">
                  
                  <div class="social-footer">
                              
                    <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                    <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                    <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                </div>
                    <div class="bottom-copies text-center">
                        <p class="copy-footer">© <a href="#">Thathva</a></p>
                         
                    </div>
                </div>
            </div>
             move top
            <button onclick="topFunction()" id="movetop" title="Go to top">
                        <span class="fa fa-angle-up"></span>
                           </button>
                           
        
          </section>
        </footer>
        -->

      </body>
<script>


  function closeAbout() {
    document.getElementsByClassName("collage_container")[0].style.visibility = "visible"
    document.getElementById("myAbout").style.display = "none";
  }
  function openAbout() {

    document.getElementsByClassName("collage_container")[0].style.visibility = 'hidden';
    document.getElementById("myAbout").style.display = "block";
  }
</script>
  <script>
    quotes_ = '<%-data%>';
    quotes = JSON.parse(quotes_)


var options = {
  container: document.querySelector(".collage_container"),
  piecesNum: 100
  ,
}

bg_colors=["#b9dcf4","#ffb19e","#CAF4B9","#F7E999"]
var count = 0, maxCount = quotes.length
function ImageCollage(defaults) {
  var container = document.querySelector(".collage_container");
  var containerWidth = container.offsetWidth;
  var containerHeight = container.offsetHeight;
  var containerStyle = container.currentStyle || window.getComputedStyle(container);
  var piecesNum = defaults.piecesNum;
  var levelIndex = Math.floor(piecesNum * 0.75);
  var maxsizeX = Math.round(container.offsetWidth / 2);
  var maxsizeY = Math.round(container.offsetHeight / 2);
  var offset = 15;
  var strength = 3;
  colors=["note-wrap note-yellow","note-wrap note-blue","note-wrap note-pink","note-wrap note-green"]

  quote_boxes = []

  for (var i = 0; i < piecesNum; i++) {
    var piece = document.createElement('div');
    piece.className = "collage_piece";


    if (i < levelIndex) {
      piece.classList += " level_1";
      piece.dataset.level = 1;
      // piece.style.width = getRandomInt(100,  300) + "px";
      // piece.style.height = getRandomInt(40, 100) + "px";

    } else {
      piece.classList += " level_2";
      piece.dataset.level = 2;
      // piece.style.width = getRandomInt(100,  400) + "px";
      // piece.style.height = getRandomInt(40, 100) + "px";
    }
    container.appendChild(piece);

    piece.dataset.offset = getRandomInt(strength, strength * 2 * piece.dataset.level);
    piece.style.backgroundSize = "" + containerWidth + "px " + containerHeight + "px";
    piece.style.left = getRandomInt(0, containerWidth - piece.offsetWidth) + "px";
    piece.style.top = getRandomInt(0, containerHeight - piece.offsetHeight) + "px";
    piece.style.backgroundPosition = -(piece.offsetLeft) + "px " + (-piece.offsetTop) + "px";

    var quotebox=document.createElement('aside')
      quotebox.className=colors[count%4]
      var quote=document.createElement('p')
      quote.innerHTML=quotes[count%maxCount]["quote"]
      
      var quoteAuther=document.createElement('div')
      var quoteCollege=document.createElement('div')
      quoteCollege.innerHTML="NITC"
    
      var quoteName=document.createElement('a')
      quoteName.innerHTML=quotes[count%maxCount]["name"]
    quote.className = "quote"
    quoteAuther.className = "quote-auther"
    quoteName.className = "name"
    quoteCollege.className = "college"
    // if (i < levelIndex) {
    //   quotebox.classList += " level_1"
    // }
    // else {
    //   quotebox.classList += " level_2"
    // }
    quote.innerHTML = quotes[count % maxCount]["sentence"]
    quoteName.innerHTML = quotes[count % maxCount]["name"]
    quoteCollege.innerHTML = quotes[count % maxCount]["college"]
    quoteAuther.appendChild(quoteName)
    quotebox.appendChild(quote)
    quoteAuther.appendChild(quoteCollege)
    quotebox.appendChild(quoteAuther)
    piece.appendChild(quotebox)
    addEvent(quotebox,quoteCollege)

    quote_boxes.push(quotebox)
    count++
  }
  function addEvent(quotebox,quoteCollege) {
    quotebox.addEventListener("mouseover", () => {
      for (var i = 0; i < quote_boxes.length; i++) {
        if (quote_boxes[i] != quotebox)
          quote_boxes[i].classList.add("fade-out")
        else {
          quotebox.classList.add("hover")
	quoteCollege.style.visibility="visible"
        }
      }


    })
    quotebox.addEventListener("mouseout", () => {
      for (var i = 0; i < quote_boxes.length; i++) {
        if (quote_boxes[i] != quotebox)
          quote_boxes[i].classList.remove("fade-out")
      }
      quotebox.classList.remove("hover")
          quoteCollege.style.visibility="hidden"
    })
  }
  function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }
}

ImageCollage(options);

   
       
  </script>
</html>
