.fixednavbar{
  top:0;
  z-index:30;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .backgrnd {
    background-image: url("./Images/background.png");
    background-size: cover;
  }
  .navbar-complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
  }
  .brand-title {
    font-size: 3rem;
    margin: 2rem;
    padding-left: 60px;
    display: flex;
  }
  .brand-title h1:hover {
    color: rgb(238, 207, 108);
    cursor: pointer;
  }
  .navbar-links {
    margin-right: 50px;
  }
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display:flex;
  }
  .navbar-links li {
    list-style: none;
  }
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding-right: 100px;
    display: block;
  }
  .navbar-links li a:hover {
    color: rgb(238, 207, 108);
  }
  .navbar-links li button {
    text-decoration: none;
    color: white;
    padding-right: 100px;
    display: block;
  }
  .navbar-links li button:hover {
    color: rgb(238, 207, 108);
  }
  .login {
    padding-left: 75px;
    color: white;
  }
.form-popup {
      display: none;
}
  
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    /* height: 120vh; */
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  }

  
  #about .container{
    width:55%;
    /* height:70%; */
  /* margin-top: 60px; */
  /* margin-left: 28%; */
  padding-top:20px;
  margin-bottom: 10px;
  background-color: #56d8e4;
  justify-self: center;
  border: 2px solid black;
  }
  .aboutclass-content{
    padding: 20px;
    margin:20px;
  
  }
  .aboutclass-heading{
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  }
  .aboutclass-heading button{
    /* padding: 100px; */
    margin-top: 50px;
    margin-bottom: 100px;
  }